html {
	margin:0; padding: 0;
	font-family:Verdana, Geneva, sans-serif;
	background-color:#ccc;
	color:black;
}

body {
	background-color:#eee;
	width: 927px;
	border-radius:0.25em;
	box-shadow: #999 0.25em 0.25em 0.25em;
	margin:1em auto;
	padding:1em;
}

h1 {text-align:center;}
dt {
	font-weight:bold;
	font-size:1.1em;
}
#nav {
	background-color:#999;
	width:30%;
	margin:auto;
	border-radius:0.25em;
	box-shadow:#666 0.25em 0.25em 0.25em;
}
#nav a {
	padding:0.5em;
	display:block;
	text-align:center;
	font-weight:bold;
}
#nav a:hover {
	text-decoration:none;
	background-color:#ccc;
}